@page
@model DevShop.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.DiscountedPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.DiscountedPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.ImgPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.ImgPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.UserScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.UserScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.NumberOfPages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.NumberOfPages)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Published)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Published)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
